:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: #fff;
  --primery-bg-color: #fff;
  --accent-bg-color: #fff;
  --footer-bg-color: #2f303a;
  --button-bg-volor-porfolio: #f5f4fa;
  --section-bg-color: #f5f4fa;
  --text-transparency-color: rgba(255, 255, 255, 0.6);
  --icon-transparency-color: rgba(255, 255, 255, 0.1);
  --color-icons: #afb1b8;
}